@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@200;400&display=swap");
body, html {
  margin: 0;
  height: 100%;
  font-family: "Anek Devanagari", sans-serif;
}

.navbar {
  background-color: #fff;
  height: 80px;
  width: 100%;
  display: flex;
}

.navbar-fixed-top {
  position: fixed;
  overflow: hidden;
  z-index: 1;
}

.logo {
  margin-left: 100px;
  padding: 8px 16px;
  flex: 1 20%;
}
.logo a {
  text-decoration: none;
}
.logo img {
  height: 50px;
  width: auto;
}

.navbar-header {
  margin-right: 100px;
  flex: 1 70%;
  place-items: center;
}

.nav-link {
  list-style: none;
  display: inline-block;
  padding: 8px 16px;
}
.nav-link a {
  text-decoration: none;
  color: #0578FA;
  font-size: 24px;
}
.nav-link a:hover {
  color: #FA8705;
}
.nav-link a:active {
  color: #FA8705;
}

.head {
  animation: hero-slide 5s ease-in-out infinite;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.hero-text {
  position: absolute;
  top: 40%;
  color: #fff;
  left: 20%;
  right: 20%;
  overflow: hidden;
  flex-wrap: wrap;
}
.hero-text h1 {
  font-size: 2.5rem;
  padding: 0;
}
.hero-text p {
  font-size: 24px;
  color: #fff;
}
.hero-text a {
  padding: 10px;
  box-sizing: content-box;
  font-weight: 600px;
  background-color: #0578FA;
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  border-radius: 4px;
}
.hero-text a:hover {
  background-color: #FA8705;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
}

@keyframes hero-slide {
  from {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../img/items-min.jpg");
    /* Set a specific height */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  to {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/charity-min.jpg");
    /* Set a specific height */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/** Main-content*/
.main-content {
  overflow: hidden;
}

.main-color {
  color: #0578FA;
}

.grey-bg {
  background-color: #f1f1f4;
}

.flex-container {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}

.grid-column {
  display: grid;
  grid-template-columns: repeat(2, 300px [col-start]);
  gap: 50px;
  justify-items: center;
}

.icon-box {
  flex-wrap: wrap;
  text-align: center;
}
.icon-box i {
  font-size: 2.4em;
}
.icon-box p {
  font-size: 18px;
  line-height: 16px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 350px [col-start]);
  margin-left: 100px;
  margin-right: 100px;
  justify-items: center;
  gap: 10px 15px;
  margin-bottom: 30px;
}

.news-container {
  background-color: #fff;
  text-align: center;
}

.article {
  padding: 16px;
}
.article a {
  font-size: 18px;
  background-color: #0578FA;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
.article a:hover {
  background-color: #FA8705;
  color: #fff;
  transition: backgroud-color 0.3s ease-in-out;
}
.article p {
  font-size: 18px;
  color: #010101;
}

.title-center {
  text-align: center;
  font-size: 2.5em;
}

.img-container img {
  width: 100%;
  height: 300px;
}

.img-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../img/items-min.jpg");
  /* Set a specific height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60%;
  position: relative;
  overflow: hidden;
}

.video-text {
  position: absolute;
  top: 20%;
  left: 100px;
  text-align: justify;
  color: #fff;
  overflow: hidden;
}
.video-text h1 {
  font-size: 2.4em;
}
.video-text p {
  font-size: 22px;
  margin: 0;
}

/**Recent News*/
.section-2 {
  background-color: #1B1C1E;
  height: auto;
  color: #fff;
  overflow: hidden;
}

.video-container {
  width: 50%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/charity-min.jpg");
  flex: 1 auto;
  /* Set a specific height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.play-btn {
  text-align: center;
  position: relative;
  top: 40%;
}
.play-btn a {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  text-align: center;
  padding: 15px 30px;
  font-size: 32px;
  text-decoration: none;
  color: #ff0000;
}

.news-items {
  flex: 1 auto;
  /*flex: 1 auto;
  flex-flow: column wrap;*/
}

.h-card {
  background-color: #2b2b2c;
  margin-bottom: 20px;
  color: #010101;
  display: flex;
  flex: 2;
  gap: 2rem;
}

.f-container {
  gap: 5rem;
}

.h-card-img {
  flex: 1 auto;
}
.h-card-img img {
  height: 150px;
  width: 200px;
}

.h-card-body {
  flex-wrap: wrap;
  color: #fff;
}

.img-gallery {
  display: grid;
  grid-template-columns: repeat(3, 350px [col-start]);
  align-items: center;
  gap: 3rem;
  margin-left: 100px;
  margin-right: 100px;
}

.img-container img {
  height: 300px;
  width: 100%;
}

.caption {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 100px;
  padding: 4px;
}
.caption h2 {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 350px [col-start]);
  gap: 1rem;
  margin-left: 100px;
  margin-right: 100px;
}

/*# sourceMappingURL=style.css.map */
