@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Mochiy+Pop+One&display=swap');
body,html{
    height: 100%;
    margin: 0;
}
//Hero image section
.hero{
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6)), url("../donate/portrait-little.jpg");

}
.flex-container{
    display: flex;
}
.flex-item{
    flex-wrap: wrap;

}
.blue-bg{
    background-color:rgb(16, 40, 255) ;

}

.hero-text{
    position:absolute ;
    top:35%;
    color: white;
    left: 5%;
width: 60%;
    
}
.fade-text{
    opacity: 0;
    transition: opacity;
    animation: fade-in ease-out 2s ;
    animation-iteration-count: 1;
animation-fill-mode: forwards;

h1{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 4em;
    margin-top: 0;
}
}
.sm-title{
    font-family: 'Inclusive Sans', sans-serif;
    color:white;
    position: relative;
}
.sm-title::before{
    content: " ";
 position: absolute;
 top:8px;
 left: -20px;
    width: 15px;
    height: 2px;
    background-color:orangered;
}
.title-center{
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;

}
.donate-btn{
    padding: 1.5rem;
    border-radius: 8px;
    color: #ffff;
    text-decoration: none;
    background-color:rgb(38, 88, 252) ;
    font-size: 1.5rem;
    font-family: 'Inclusive Sans', sans-serif;
}
.grid-container{
    margin-right: 50px;
    margin-left: 50px;
display: grid;
//grid-template-rows: auto;
grid-template-columns: repeat(3, 1fr);
column-gap: 30px;
}
.grid-item{
    box-shadow: 5px 10px 5px rgba(0,0,0, .1);
    box-sizing: border-box;
    img{
        border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 200px;
    }
   
}
.value{
    position: relative;
    
}
.--left{
    float: left;

}
.--right{
    float: right;
}
.content-box{
    font-family:'Inclusive Sans', sans-serif ;
    padding: 8px 12px;
    background-color: #fdfcfc;
    color: #333333;

    p{
    line-height: 24px;
    font-size: 16px;
    }
    h2{
        color: #333333;

    }
  /*  button{
border: none;
border-radius: 8px;
font-size: 16px;
padding: 12px;
color: #ffff;
background-color: rgb(25, 84, 248);
    }*/
    progress{
       // background-color:rgb(62, 90, 248); 
       border-radius: 8px;
       width: 100%;
       height: 10px;
    }
}
.pay-btn{
    margin-top: 12px;
    border-radius: 5px;
    border: none;
    padding: 8px;
    border: 2px solid #1212;
    color: #414141;
    background-color: #eeebeb;
   // width: 100px;
   margin-left: 12px;
    font-size: 16px;
}
.pay-btn:hover{
    border: 2px solid rgb(33, 29, 255);

}
.fa-arrow-right{
    color:rgb(33, 29, 255) ;
}
.donation-form{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../donate/medium-shot.jpg");    margin-top:100px;
    overflow: hidden;
}
.donate-item{
    background-color: rgba(0,0,0, .3);
    left: 50px;
    top:30px;
    width: 70%;
    padding: 12px;
    position: relative;
    color: #fff;
    h1{
        font-family: 'Mochiy Pop One', sans-serif;
        font-size: 2rem;
margin-top: 0;
    }
}
.input-group{
    padding: 16px;
    display: inline-block;
    select{
        border: none;
        padding: 16px;
        width: 300px;
        background-color: #ffff;
        font-family:'Inclusive Sans', sans-serif ;

    }
   
    label{
        padding: 16px;
        font-family:'Inclusive Sans', sans-serif ;
        font-size: 16px;

    }
    input[type="text"]{
        border: none;
        width: 400px;
        padding: 16px;
        background-color: #fff;
    }
    h3{
        font-family:'Inclusive Sans', sans-serif ;
  
    }
}
.block-label{
    display: block;
}
.ïnline-form{
    display: inline-block;
}
.submit-payment{
    font-family:'Inclusive Sans', sans-serif ;

    border:none;
    padding: 16px;
    color: #ffff;
    background-color: orangered;
    font-size: 16px;
}
@keyframes fade-in {
    0%{
        opacity: 0.0;
    }
    100%{
        opacity: 1;

    }
}