$main-color:#2E6FF2;

@media (max-width:760px) {
    body,html{
        width: 100%;
        height: 100%;
    }
    header{
        height: 80%;
    }
    .contact-section{
        display: none;
    }
   .main-nav-container{
        display: none;
       
    }
    .main-nav{
        transition: width 0.3s ease-in-out;
        animation: close-nav 0.3s linear;
    }
    .m-main-nav{
        background-color: #fff;
        //background-color:$mai;
        top:0;
        height: 100%;
        width: 80%;
        transition: width 0.3s ease-in-out;
        animation: open-nav 0.3s linear;
        position: fixed;
       overflow:hidden ;
z-index: 1;
    }
    .link-item{
       // border-bottom: 1px solid #f5f2f2;
        display: block;
        text-align: center;

              a{
            padding: 10px 12px;
           color: #272727;
           font-size: 20px;
        }
    }
    .m-btn{
        display: block;
        padding: 14px 16px;
        i{
            color: #fff;
            font-size: 32px;
         position: absolute;
            right: 20px;
        }
    }
    .caption-text{
        top:25%;
        display: block;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        left: 0 unset !important;
        //overflow: hidden;


        h1{
        font-size: 1.5rem;
        text-align: center;

        }
        p{
            color: #fff;
            font-size: 16px;
            line-height: 24px;
           }
    
    }
    .grid-container{
        left: 0;
        width: 100% !important;
        overflow-x: scroll;
        //top: 70%;
        bottom: -25%;
        height: auto;

       // display: block;
        //gap: 0.5rem;
        scrollbar-width: none;
                //box-sizing: content-box;



    }
    .grid-container::-webkit-scrollbar{
        display: none;
      }
    .--sm-grid{
        padding-right: 50px;
    }
    .sm-grid{
        position: relative;
        overflow: hidden;
            display: block;

        animation: primary 5s linear infinite !important;

    }
    .sm-grid:hover{
        -webkit-animation-play-state: paused;
    }
}
.close-btn{
    display: none;
    position: absolute;
    top:4px;
    right: 4px;
    color: #272727;
    font-size: 24px;
}
@keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  @keyframes open-nav {
    from{
        width: 0;
    }
    to{
        width: 80%;
    }
  }
  .dark-bg{
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
  }
  @keyframes close-nav {
    from{
        width: 80%;
    }
    to{
        width: 0%;
    }
  }