@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@200;400&display=swap');
$main-color: #0578FA;
$secondary-color:#FA8705;
//$secondary-color:#FF0000;
$text-color: #010101;
$font: 'Anek Devanagari', sans-serif;
$margin-right:100px;
$margin-left:100px;
$font-size: 18px;
$header-size: 2.5rem;

body, html{
    margin: 0;
 height: 100%;
    font-family: $font;
}
//nav bar
.navbar{
    background-color: #fff;
    height: 80px;
    width: 100%;
    display: flex;
}
.navbar-fixed-top{
    position: fixed;
   overflow: hidden;
    z-index: 1;
}
.logo{
    margin-left: $margin-left;
    padding: 8px 16px;
    flex:1 20%;
    a{
        text-decoration: none;
    }
    img{
        height: 50px;
        width: auto;
    }
    
}
.navbar-header{
    margin-right: $margin-right;
    flex: 1 70%;
  //  justify-items: center;
    place-items: center;
}
.nav-list{
}
.nav-link{
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    a{
        text-decoration: none;
        color:$main-color;
        font-size: 24px;
    }
a:hover{
    color:$secondary-color;
}
a:active{
    color: $secondary-color;
}
}
.head{
    animation: hero-slide 5s ease-in-out infinite;
    position: relative;
    height: 100%;  
    overflow: hidden;

}
.hero-text{
    position: absolute;
    top: 40%;
    color:#fff;
    left: 20%;
    right: 20%;
    overflow: hidden;
    flex-wrap: wrap;
    h1{
       font-size: $header-size;
       //font-size: 40px;
       // text-align: justify;
        padding:0;
    }
    p{
        font-size: 24px;
        color: #fff;


    }
    a{
        padding: 10px;
        box-sizing: content-box;
        font-weight: 600px;
        background-color: $main-color;
        text-decoration:none;
        color: #fff;
        font-size: 32px;
        border-radius:4px;
    }
    a:hover{
        background-color: $secondary-color;
        color: #fff;
        transition: background-color 0.3s ease-in-out;
        text-decoration: none;
    }
}
//animation for hero image
@keyframes hero-slide {
    from{
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../img/items-min.jpg");

    /* Set a specific height */
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    }
    to{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/charity-min.jpg");

    /* Set a specific height */
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    }
}
/** Main-content*/
.main-content{
    overflow: hidden;
}
.main-color{
    color: $main-color;
}
.grey-bg{
    background-color:#f1f1f4
}
.flex-container{
    display:flex;
    margin-left: $margin-right;
    margin-right: $margin-right;
}
.grid-column{
display:grid;
grid-template-columns: repeat(2, 300px [col-start]);
gap:50px;
justify-items: center;
}
.icon-box{
    flex-wrap: wrap;
    text-align: center;
    i{
        font-size: 2.4em;
    }
    p{
        font-size: $font-size;
        line-height: 16px;
    }
}

.grid-3{
    display:grid;
    grid-template-columns: repeat(3, 350px [col-start]);
    margin-left: $margin-left;
    margin-right: $margin-right;
    justify-items: center;
    gap:10px 15px;
    margin-bottom: 30px;

}
.news-container{
    background-color: #fff;
    text-align: center;
}
.article{
    padding: 16px;
   
    a{
        font-size: $font-size;
        background-color:$main-color;
        color: #fff;
        padding: 10px;
        text-decoration: none;
    }
    a:hover{
        background-color: $secondary-color;
        color: #fff;
        transition: backgroud-color 0.3s ease-in-out;
    }
    p{
        font-size: $font-size;
        color:$text-color
    }
}
.title-center{
    text-align: center;
    font-size: 2.5em;
}
.img-container{
    img{
        width: 100%;
        height: 300px;
    }
}
.img-bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../img/items-min.jpg");

    /* Set a specific height */
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:60%;
    position:relative;   
    overflow: hidden;

}
.video-text{
    position:absolute;
    top:20%;
    left:100px;
    text-align:justify;
    color:#fff;
    overflow: hidden;

    h1{
        font-size:2.4em;
    }
    p{
        font-size:22px;
        margin:0;
    }
}
/**Recent News*/

.section-2{
   // background-color: #010102;
   background-color: #1B1C1E;

   height: auto;
    color: #fff;
    overflow: hidden;
}
.video-container{
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/charity-min.jpg");
flex: 1 auto;
    /* Set a specific height */
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}
.play-btn{
    
    
   // top:50%;
    text-align: center;
    position: relative;
    top:40%;

    a{
        background-color: rgba(255,255,255,0.8);
    border-radius: 50%;
        text-align: center;
        padding: 15px 30px;
        
        font-size: 32px;
        text-decoration: none;
        color: #ff0000;
    }
}
.news-items{
    flex: 1 auto;
    /*flex: 1 auto;
    flex-flow: column wrap;*/
    //display:block;
}
.h-card{
    background-color: #2b2b2c;
    //box-shadow: 4px 8px 12px #141414;
    margin-bottom:20px;
    color: $text-color;
    display: flex;
    flex: 2;
    gap:2rem;

    
}
.f-container{
    gap:5rem;

}

.h-card-img{
    flex: 1 auto;
    img{
        height: 150px;
        width: 200px;
    }
}
.h-card-body{
    flex-wrap: wrap;
    color: #fff;
}
.img-gallery{
    display: grid;
    grid-template-columns: repeat(3, 350px [col-start]);
    align-items: center;

    gap: 3rem;
    margin-left: $margin-left;
    margin-right: $margin-right;
}
.img-container{
    img{
        height:300px;
        width:100%;
    }
}
.caption{
    position:relative;
    background-color: rgba(255,255,255,0.8);
    bottom:100px;
    padding:4px;
    h2{
        text-align:center;
        //color: $tex
    }
}
//gallery
.gallery{
    display:grid;
    grid-template-columns: repeat(3,350px [col-start]);
   gap:1rem;
    margin-left: $margin-left;
    margin-right: $margin-right;
   // place-items: baseline;
}
